src/ontology/mirror/envo.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/ogms.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/omiabis.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/pato.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/cob.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/mpath.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/uo.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/ncbitaxon.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/obi.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/pco.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/ro.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/chebi.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/chmo.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/efo.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/go.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/uberon.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/bfo.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/doid.owl filter=lfs diff=lfs merge=lfs -text
src/ontology/mirror/*.owl filter=lfs diff=lfs merge=lfs -text
