.DS_Store
semantic.cache
bin/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/rbo.owl
src/ontology/rbo.obo
src/ontology/rbo.json
src/ontology/rbo-base.*
src/ontology/rbo-basic.*
src/ontology/rbo-full.*
src/ontology/rbo-simple.*
src/ontology/rbo-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-rbo-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt
src/ontology/rbo-edit.owl.orig
*.bak
src/templates/RBO_terms.template
key
*.pem

src/ontology/mirror
RBO_nuclei.xlsx
src/ontology/imports/bfo_import.owl
src/ontology/imports/chebi_import.owl
src/ontology/imports/chmo_import.owl
src/ontology/imports/cob_import.owl
src/ontology/imports/envo_import.owl
src/ontology/imports/obi_import.owl
src/ontology/imports/pato_import.owl
src/ontology/imports/ro_import.owl
src/ontology/imports/uberon_import.owl
src/ontology/imports/uo_import.owl
src/ontology/components/all_templates.owl
src/ontology/mirror/uo.owl
src/ontology/mirror/ro.owl
src/ontology/mirror/pato.owl
src/ontology/mirror/chmo.owl
docs/.~lock.environmental monitoring RBO.csv#
