## REMEMBER TO SET UP YOUR GITHUB REPO FOR TRAVIS
## Go to: https://travis-ci.org/monarch-initiative for details
sudo: required

services:
  - docker

#before_install:
#  - docker pull obolibrary/odkfull

env:
 global:
 - REPO=RBO
 - BUILD_ENV=test
 
# command to run tests
script: cd src/ontology && ./run.sh make test

#after_success:
#  coveralls

# whitelist
branches:
  only:
    - master
    - Jack
    
## Deployment

before_deploy:
- cd ..
- tar -zcf ${TRAVIS_BUILD_DIR}${REPO}-${BUILD_ENV}-${TRAVIS_TAG}-${TRAVIS_BUILD_NUMBER}.tar.gz ${TRAVIS_BUILD_DIR}


deploy:
  provider: releases
  on:
    branch: Jack
  api_key:
    secure: "OozErSRdGuEfJR5hOvLN+mPmADoYeyV43R2X4WwT/kbzHIZoseWKKPVfu5CiZApKlcuC/7OdrP+kgsim6aKVzwAfEj0DX3tkFfbmqqiZwv7LwCQCxOXBc6NhJX5Gkvimvi9xQD4iqukVT0PEkRAz1BHUBdycp4MNLnmjUjcYcR16R9yX4UNPztJV+b5LTQLA7PsQPgoRD9kRjj99T3njv6cekZr8ajAyxiybLgNS5VJzTpUGH1xpa1OeBnnc9dncwL4QxvTwp1jCXVx0bASsUtsqfUJg3tSnOeMZ6JcijjR0XtY7SqEkm0W/rDlbrlCFK5CbbzgS33DGQBJkZT/wrbsbFbrRoqDJTj0FpD5++aipqEh9GcYD8OgHHSt2Z+GtZuJKn/8T6ucEp93wC2njHps54brG60WmKaMRDpDAtjIqPR5KMsBHvCcGM1NwKF4cTTTtjPQV+m3YqaGPutBME2kQMhCJTa/IEUpI9vioMEP1whphKGE2L9/jm4UP8rCGZAnnjJ8rsIzqE4Uahm7tzn2tHK4U7k2CzoycHmN0hHWOflJCBlr50lejDY4WoEUUfXr4QIo7RUf90hbn+ElieSsAWh8n4GlrDHRg4IIwbqnHEFu9eRwYHB/HvKN2x5W9O5/yZDI8eO5EVgKxnzbp8rj5xW9SjT4SJuCsgrpXpfg="
  file_glob: true
  file: ${TRAVIS_BUILD_DIR}${REPO}-${BUILD_ENV}-${TRAVIS_TAG}-${TRAVIS_BUILD_NUMBER}.tar.gz
  skip_cleanup: true
  draft: true

### Add your own lists here
### See https://github.com/INCATools/ontology-development-kit/issues/35
notifications:
  email:
    recipients:
      - daniel.c.berrios@nasa.gov
      - L.Slater.1@bham.ac.uk
      - miller@lbl.gov
    on_failure: always